<!doctype html>
<html lang="en" class="h-100">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Pagina para agendar gestionar citas" />
        <meta name="author" content="Cristian Gomez Horta" />
        <title>Salud Ok By Cris</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="./styles/cover.css" rel="stylesheet" />
        <link href="./styles/booking.css" rel="stylesheet" />
    </head>

    <body class="d-flex h-100 text-center bg-info">
        <!-- Vertically centered modal -->
        <div class="modal fade" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLiveLabel">AGENDAR CITA MÉDICA</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-floating">
                                <input type="date" class="form-control" id="booking_date" />
                                <label for="booking_date">Fecha de Cita</label>
                            </div>

                            <div class="form-floating">
                                <select class="form-control" id="specialist" required>
                                    <option value="">Seleccionar</option>
                                    <option>Odontología</option>
                                    <option>Medicina General</option>
                                    <option>Cardiología</option>
                                    <option>Dermatología</option>
                                    <option>Oftalmología</option>
                                </select>
                                <label for="specialist" class="form-label">Especialidad</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                        <button id="bookBntClick" type="button" class="btn btn-primary" data-bs-dismiss="modal">GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">SALUDOK</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" id="user-mail"></a>
                        <a class="nav-link active" aria-current="page" id="closeBtnClick">Cerrar Sesión</a>
                    </nav>
                </div>
            </header>

            <main class="px-3">
                <div class="toolbar my-4 container text-center">
                    <div class="row fs-3 text-start">
                        <div class="welcome col-8">Bienvenido <span id="user"> -- </span></div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLive">
                                CREAR CITA
                            </button>
                        </div>
                    </div>
                </div>

                <table id="bookingtable" class="table rounded-3 bg-white table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fecha de Cita</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Fecha de solicitud</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </main>

            <footer class="mt-auto text-white-50">
                <p>
                    Desarrollo por
                    <a href="https://github.com/Crisjgh26" class="text-white">@Crisjgh26</a>.
                </p>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

        <script type="module">
            import { HttpClient } from './utils/http-client.js';
            import { getKey, getUser } from './utils/store.js';

            // Definiciones de funciones
            let bookBntClick = (evt) => {
                // Prevenir el comportamiento por defecto de un botón.
                evt.preventDefault();

                try {
                    const date = document.getElementById('booking_date').value;
                    const specialist = document.getElementById('specialist').value;

                    if (!date) throw Error('Se requiere el campo: Correo');
                    if (!specialist) throw Error('Se requiere el campo: Contraseña');

                    var params = JSON.stringify({ date, specialist });

                    sendRequest(params);
                } catch (error) {
                    alert(error.message);
                }
            };

            let insertIntoTable = (rows) => {
                let table = document.querySelector('tbody');

                rows.forEach((row) => {
                    let tr = document.createElement('tr');

                    let td1 = document.createElement('td');
                    let td2 = document.createElement('td');
                    let td3 = document.createElement('td');

                    td1.innerHTML = new Date(row.date).toLocaleDateString();
                    td2.innerHTML = row.specialist;
                    td3.innerHTML = new Date(row.created_at).toLocaleDateString();

                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);

                    table.appendChild(tr);
                });
            };

            let sendRequest = (params) => {
                HttpClient.send('POST', '/api/booking/create', params)
                    .then((res) => res.json())
                    .then((response) => {
                        if (response.ok) {
                            alert('Cita creada exitosamente');
                            insertIntoTable([response.data]);
                        } else {
                            alert(response.msg ? response.msg : 'La creación de cita a fallado!');
                        }
                    })
                    .catch((error) => {
                        alert('La creación de cita a fallado en el servidor!');
                        console.log('Error:', error);
                    });
            };

            let listBooking = () => {
                HttpClient.send('GET', '/api/booking/list', undefined)
                    .then((res) => res.json())
                    .then((response) => {
                        insertIntoTable(response);
                    })
                    .catch((error) => {
                        alert('El historico de cita a fallado en el servidor!');
                        console.log('Error:', error);
                    });
            };

            let sessionValidate = () => {
                return !!getKey();
            };

            let showUserOnsession = () => {
                let user = getUser();
                document.querySelector('#user').innerHTML = user.fullname;
                document.querySelector('#user-mail').innerHTML = user.email;
            };

            let closeSession = () => {
                localStorage.removeItem('usr');
                localStorage.removeItem('tk');
                window.location.href = './signin.html';
            };

            if (sessionValidate()) {
                showUserOnsession();
                listBooking();
            } else {
                alert('Los sentimos, no ha iniciado sesión');
                // Redireccionamos el usuario iniciar sesion
                window.location.href = './signin.html';
            }

            document.getElementById('bookBntClick').onclick = bookBntClick;
            document.getElementById('closeBtnClick').onclick = closeSession;
        </script>
    </body>
</html>
