<!doctype html>
<html lang="en" class="h-100">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Pagina para agendar gestionar citas" />
        <meta name="author" content="Cristian Gomez Horta" />
        <title>Salud Ok By Cris</title>

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link href="./styles/cover.css" rel="stylesheet" />
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    </head>

    <body class="d-flex h-100 text-center bg-info">
       
       
        <!-- Vertically centered modal -->
        <div class="modal fade" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLiveLabel">AGENDAR CITA MÉDICA</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                           
                             <div class="form-floating">
                                <input type="date" class="form-control" id="booking_date" />
                                <label for="booking_date">Fecha de Cita</label>
                            </div>

                            <div class="form-floating">                                
                                <select class="form-control" id="specialist" required>
                                    <option value="">Seleccionar</option>
                                    <option>Odontología</option>
                                    <option>Medicina General</option>
                                    <option>Cardiología</option>
                                    <option>Dermatología</option>
                                    <option>Oftalmología</option>
                                </select>
                                <label for="specialist" class="form-label">Especialidad</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                        <button  id="bookBntClick" type="button" class="btn btn-primary" data-bs-dismiss="modal" >GUARDAR</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">SALUDOK</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="signin.html">Iniciar Sesión</a>
                        <a class="nav-link" href="#">Contacto</a>
                    </nav>
                </div>
            </header>

            <main class="px-3 rounded-3 bg-white">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLive">Launch demo modal</button>
                <table id="bookingtable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Fecha de solicitud</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </main>

            <footer class="mt-auto text-white-50">
                <p>
                    Desarrollo por
                    <a href="https://github.com/Crisjgh26" class="text-white">@Crisjgh26</a>.
                </p>
            </footer>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>

       <script type="module">
            import { HttpClient } from './utils/http-client.js';

            let bookBntClick = (evt) => {
                // Prevenir el comportamiento por defecto de un botón.
                evt.preventDefault();

                try {
                    const date = document.getElementById('booking_date').value;
                    const specialist = document.getElementById('specialist').value;

                    if (!date) throw Error('Se requiere el campo: Correo');
                    if (!specialist) throw Error('Se requiere el campo: Contraseña');

                    var params = JSON.stringify({ date, specialist });

                    sendRequest(params);
                } catch (error) {
                    alert(error.message);
                }
            };

            let sendRequest = (params) => {
                HttpClient.send('POST', '/api/booking/create', params)
                    .then((res) => res.json())
                    .catch((error) => {
                        alert('La creación de cita a fallado en el servidor!')
                        console.log('Error:', error)
                    })
                    .then((response) => {
                        if (response.ok) {
                           alert("Cita creada exitosamente");
                        } else {
                            alert(response.msg ? response.msg : 'La creación de cita a fallado!');
                        }
                    });
            };
            
            let listBooking = () => {
                HttpClient.send('GET', '/api/booking/list/1111', undefined)
                    .then((res) => res.json())
                    .catch((error) => {
                        alert('El historico de cita a fallado en el servidor!')
                        console.log('Error:', error)
                    })
                    .then((response) => {
                        //innerHTML 
                        // se debe validar que exista el array
                        let table = document.querySelector('tbody');
                        response.forEach(element => {

                            let tr = document.createElement('tr');
                            
                            let td1 = document.createElement('td');
                            let td2 = document.createElement('td');
                            let td3 = document.createElement('td');

                            td1.innerHTML = element.data;
                            td2.innerHTML = element.specialist;
                            td3.innerHTML = element.created_at;

                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);

                            table.appendChild(tr)
                        });
                        
                    });
            };

            listBooking();

            document.getElementById('bookBntClick').onclick = bookBntClick;
        </script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    --></body>
</html>
