<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Pagina para agendar gestionar citas" />
    <meta name="author" content="Cristian Gomez Horta" />
    <title>Salud Ok By Cris</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="./styles/log-in.css" rel="stylesheet" />
  </head>

  <body class="d-flex align-items-center py-4 bg-body-tertiary bg-info">
    <main class="form-signin w-100 m-auto">
      <form>
        <a class="saludok-logo w-100 mb-4" href="index.html">SaludOk</a>
        <h1 class="h3 mb-3 fw-normal">Por favor, Inicia Sesión</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="correo@ejemplo.com"
          />
          <label for="floatingInput">Correo Electrónico</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Contraseña"
          />
          <label for="floatingPassword">Contraseña</label>
        </div>

        <div class="form-check text-start my-3">
          <input
            class="form-check-input"
            type="checkbox"
            value="remember-me"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Recuerdame
          </label>
        </div>

        <button id="login_btn" class="btn btn-primary w-100 py-2" type="submit">
          Iniciar Sesión
        </button>

        <a class="btn btn-light px-3 mt-3 w-100" href="sign-up.html">
          No tengo una cuenta, registrarme
        </a>

        <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
      </form>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      // Main Code

      let logInBntClick = (evt) => {
        // Prevenir el comportamiento por defecto de un botón.
        evt.preventDefault();

        try {
          var email = document.getElementById("email").value;
          var password = document.getElementById("password").value;

          if (!email) throw Error("Se requiere el campo: Correo");
          if (!password) throw Error("Se requiere el campo: Contraseña");

          var data = JSON.stringify({
            email: email,
            password: password,
          });

          sendRequest(data);
        } catch (error) {
          alert(error.message);
        }
      };

      let sendRequest = (params) => {
        var myHeaders = new Headers();
        myHeaders.append("Accept", "application/json");
        myHeaders.append("Content-Type", "application/json");

        var requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: params,
          mode: "no-cors",
        };

        fetch("http://127.0.0.1:3000/user/login", requestOptions)
          .then((response) => response.text())
          .then((result) => console.log(result))
          .catch((error) => console.log("error", error));
      };
      document.getElementById("login_btn").onclick = logInBntClick;
    </script>
  </body>
</html>
