<!doctype html>
<html lang="en" class="h-100">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Pagina para agendar gestionar citas" />
        <meta name="author" content="Cristian Gomez Horta" />
        <title>Salud Ok By Cris</title>

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link href="./styles/log-in.css" rel="stylesheet" />
    </head>

    <body class="d-flex align-items-center py-4 bg-body-tertiary bg-info">
        <main class="form-signin w-100 m-auto">
            <form>
                <a class="saludok-logo w-100 mb-4" href="index.html">SaludOk</a>
                <h1 class="h3 mb-3 fw-normal">Por favor, Inicia Sesión</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="correo@ejemplo.com" />
                    <label for="floatingInput">Correo Electrónico</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Contraseña" />
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <div class="form-check text-start my-3">
                    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault"> Recuerdame </label>
                </div>

                <button id="login_btn" class="btn btn-primary w-100 py-2" type="submit">Iniciar Sesión</button>

                <a class="btn btn-light px-3 mt-3 w-100" href="signup.html"> No tengo una cuenta, registrarme </a>

                <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
            </form>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

        <script type="module">
            import { HttpClient } from './utils/http-client.js';

            let logInBntClick = (evt) => {
                // Prevenir el comportamiento por defecto de un botón.
                evt.preventDefault();

                try {
                    const email = document.getElementById('email').value;
                    const password = document.getElementById('password').value;

                    if (!email) throw Error('Se requiere el campo: Correo');
                    if (!password) throw Error('Se requiere el campo: Contraseña');

                    var params = JSON.stringify({ email, password });

                    sendRequest(params);
                } catch (error) {
                    alert(error.message);
                }
            };

            let sendRequest = (params) => {
                HttpClient.send('POST', '/api/auth/login', params)
                    .then((res) => res.json())
                    .catch((error) => console.error('Error:', error))
                    .then((response) => {
                        if (response.ok) {
                            window.location.href = './bookings.html';
                        } else {
                            alert(response.msg ? response.msg : '¡Login fallido!');
                        }
                    });
            };

            document.getElementById('login_btn').onclick = logInBntClick;
        </script>
    </body>
</html>
